.menu li{
  display:inline;
  float: left;
}
.menu a{
  display:block;
  padding: 8px;
  background-color: #dddddd;
}
.navigation ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav{
  background-color:black
}