.logo img {
  display: block;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: firebrick;
}
.menu li {
  display: inline;
  float: left;
  font-family: Arial;
}
.menu a {
  display: block;
  padding: 10px;
  background-color: indianred;
  color: white;
  text-decoration: none;
}
.menu a:hover {
  background-color: black;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bottom {
  float: center;
  text-align: center;
  padding: 3px;
  background-color: firebrick;
  color: white;
  font-family: Arial;
}
.bottom a {
  color: white;
  text-decoration: none;
  font-family: Arial;
}
.intro p{
  text-align:right;
  font-size:20px;
}
.intro{
  display:inline;
}
