.logo img{
  display:block;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:firebrick;
}
.menu li {
  display: inline;
  float: left;
}
.menu a {
  display: block;
  padding: 10px;
  background-color:indianred;
  color:white;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bottom{
  text-align: center;
  padding: 3px;
  background-color:firebrick;
  color: white;
  }
.bottom a{
  color:white;
}